.form {
    max-width: 900px;
    min-height: 500px;
    padding: 12.5px;
    border-radius: 20px;
    border: #212529 1.5px solid;
    box-shadow: black 2px 2px;
}

.form-control {
    border: none;
    border-bottom: 2px #212529 solid;
    border-radius: 0;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 3px #212529 solid;
    height: calc(3.5rem + 4px)
}

.form-login {
    max-width: 450px;
}

input[type='radio'].form-check-input:checked {
    outline: #212529 !important;
    box-shadow: none !important;
    border: #212529 !important;
    background: #212529 !important;
    color: #212529 !important;
}